.myConvenient {
    background: $color-white-cream;
    padding: $pd-3 + 4;

    .convenient-item {
        text-align: left;
        background: $color-white-0;
        padding: $pd-3 + 4;
        height: 100%;
        .convenient-content {
            margin-left: $mg-1 + 6;
            h3 {
                @include text($color-black-0, $fs-2 - 1, $fw-bold-1);
            }
            p {
                @include text($color-gray-4, $fs-0, $fw-normal);
            }
        }
    }

    @include respond-to("medium") {
        .convenient-item {
            padding: $pd-2;
        }
        .convenient-content {
            h3 {
                @include text($color-black-0, $fs-0 + 1 !important, $fw-bold-1);
            }
            p {
                @include text($color-gray-4, $fs-0 - 1 !important, $fw-normal);
            }
        }
    }
}
